.note h3 {
    text-align: center;
    margin-bottom: 10px;
}

.note {
    font-size: 1.05rem;

    min-width: 250px;
    min-height: 60px;
    max-width: 350px;
    padding: 7px 13px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    display: inline-block;
    word-spacing: 3.5px;
    overflow-x: auto;
    overflow-y: hidden;
}
.note:hover .icon-container {
    display: block;
}

.icon-container {
    display: none;
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    cursor: auto;
}

::-webkit-scrollbar:hover {
    cursor: pointer !important;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.note:hover {
    cursor: text;
    box-shadow: 0px 0px 6px #d7d7d7;
}

.icon-wrapper {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-inline: 5px;
    cursor: pointer;
}

.icon-wrapper :hover {
    scale: 1.1;
}

.icon-wrapper :active {
    scale: 1.2;
}

.color-icon-wrapper :hover {
    scale: 1;
}

.exclamation-icon {
    fill: #faad14;
    position: relative;
    top: 2px;
    margin-right: 15px;
    scale: 1.5;
}

@media screen and (max-width: 400px) and (max-height: 1200px) {
    .note {
        margin-inline: auto;
    }
}