.nav-bar-wrapper {
    position: sticky;
    top: 0px;
    background-color: white;
}

.nav-bar {
    position: sticky;
    top: 0px;
    background-color: white;
    padding-inline: 30px;
    padding-block: 20px;
}

.nav-bar>.icon {
    gap: 10px;
    align-items: center;
}

.nav-bar>.icon>img {
    width: 50px;
    height: 50px
}

.search-wrapper {
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px grey;
}

.nav-bar .searchIcon {
    font-size: 1.5rem;
    padding-left: 15px;
    padding-block: 13px;
    border-radius: 8px 0 0 8px;
}

.search-wrapper input {
    border: none;
    outline: none;

    width: 650px;
    height: 20px;

    padding: 15px 25px;
    border-radius: 0 8px 8px 0;
    color: rgb(106, 103, 103);
    font-size: 1rem;
}

.changeViewBtn {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    scale: 2.8;
    position: relative;
    right: 40px;
    top: 15px;
}


.optionsBurger:hover {
    cursor: pointer;
}

.changeViewBtn:hover {
    cursor: pointer;
}

.dropDown {
    display: flex ;
    flex-direction: column !important;
    justify-content: space-between;
    align-items: self-end;
     position: fixed;
    right: 70px;
    top: 70px;
}

.dropDown > .clear-btn {
    background-color: white;
    box-shadow: 0 0 3px;
    outline: none;
}

@media screen and (max-width: 400px) and (max-height: 1200px) {
    .view-layout-icon {
        display: none;
    }

    .nav-bar>.icon>h1 {
        display: none;
    }

    .nav-bar>.icon>img {
        position: relative;
        left: -25px;
    }

    .nav-bar input {
        max-width: 157px;
    }

    .nav-bar .search-wrapper {
        position: relative;
        left: -12px;
    }

    .search-wrapper input {
        padding: 6px 13px;
    }

    .clear-btn {
        position: relative;
        left: -8px;
        margin-left: 15px;
        max-width: 90px !important;
    }
}